.Main {
  display: flex;
  justify-content: center;
  > .Feed {
    width: $page-max-width;
    max-width: 100vw;
  }
}

.Feed {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  padding-left: $padding;
  @include smaller-than(M) {
    padding-left: 0;
    .Story + & {
      // hide feed when story is fullscreen to remove scrollbar
      display: none;
    }
  }
}

.FeedStory {
  width: 25em;
  height: 20em;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: auto;
  padding-top: $padding;
  padding-right: $padding;
  cursor: pointer;
  @include smaller-than(M) {
    padding-right: 0;
    width: 100vw;
    font-size: 0.8rem;
  }
  > .image {
    overflow-y: hidden;
    flex: 1;
    h1 {
      font-size: 2em;
      @media (hover: hover) {
        // not on touch screens
        &:hover {
          .title {
            background-color: $sol-blue;
          }
        }
      }
    }
  }
}
