.Header {
  position: sticky;
  display: flex;
  user-select: none;
  top: 0;
  z-index: 100;
  color: white;
  padding: 0.5rem 1rem;
  background-color: $SolBlue;
  justify-content: space-between;
  align-items: center;
  #pageLogo {
    font-size: 4em;
  }
  #githubLink {
    font-size: 4em;
    line-height: 1;
    height: 1em;
    width: 1em;
    color: mix($SolBlue, black, 80);
    &:hover {
      color: mix($SolBlue, white, 50);
    }
  }
  @include smaller-than(M) {
    flex-direction: column;
    position: relative;
    #githubLink {
      display: none;
    }
  }
}
.Filters {
  font-size: 1.3rem;
  .tags,
  .hosts {
    font-weight: bold;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    .Tag,
    .Host {
      padding: 0.2rem 0.3rem;
      color: mix($SolBlue, white, 50);
      cursor: pointer;
      &:hover {
        filter: drop-shadow(0 0 0.2rem darken($SolBlue, 40));
      }
      &.active {
        color: #eee;
      }
    }
    .Host {
      line-height: 0.7;
      font-size: 2em;
      @include larger-than(M) {
        @media (max-width: 800px) {
          padding: 0.1rem;
          font-size: 1.8em;
        }
      }
    }
  }
  @include smaller-than(M) {
    .hosts {
      justify-content: space-around;
      padding: 0.5rem;
      padding-bottom: 0;
    }
    .tags {
      font-size: 1.1em;
      justify-content: center;
      padding: 0.5rem;
    }
  }
  @include smaller-than(S) {
    font-size: 1.1rem;
  }
}

.GoToTop {
  display: none;
  @include smaller-than(M) {
    display: flex;
  }
  font-size: 2rem;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  padding: $padding;
  cursor: pointer;
  justify-content: center;
  svg {
    padding: 0.35em;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: $SolRed;
    box-shadow: 0 0.1em 0.2em 0 rgba(black, 0.4);
    fill: white;
  }
}
