.pageHeader {
  position: sticky;
  z-index: 100;
  top: 0;
  display: flex;
  color: white;
  user-select: none;
  background-color: $SolBlue;
  padding: 0.5rem 1rem;
  justify-content: space-between;
  align-items: center;
  #pageLogo {
    font-size: 4em;
  }
  #githubLink {
    font-size: 4em;
    line-height: 1;
    height: 1em;
    width: 1em;
    color: mix($SolBlue, black, 80);
    &:hover {
      color: mix($SolBlue, white, 50);
    }
  }
  .Filters {
    font-size: 1.2rem;
    .tags,
    .hosts {
      font-weight: bold;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      .Tag,
      .Host {
        padding: 0.2rem 0.4rem;
        color: mix($SolBlue, white, 60);
        cursor: pointer;
        &.active {
          color: #eee;
        }
        &:hover {
          filter: drop-shadow(0 0 0.2rem darken($SolBlue, 40));
        }
      }
      .Host {
        line-height: 1;
        font-size: 2em;
      }
    }
  }
  @media screen and (max-width: $smallScreen), (max-height: $smallScreen) {
    flex-direction: column;
    position: relative;
    .Filters {
      .hosts {
        justify-content: space-around;
        font-size: 1.5em;
        padding: 0.5rem;
        padding-bottom: 0;
      }
      .tags {
        justify-content: center;
        font-size: 1.5em;
        padding: 0.5rem;
      }
    }
    #githubLink {
      display: none;
    }
  }
  @media screen and (max-width: $verySmallScreen),
    (max-height: $verySmallScreen) {
    .Filters {
      font-size: 1rem;
    }
  }
}
.GoToTop {
  font-size: 2rem;
  position: fixed;
  z-index: 10;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  padding: $padding;
  cursor: pointer;
  justify-content: center;
  svg {
    padding: 0.35em;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: $SolRed;
    box-shadow: 0 0.1em 0.2em 0 rgba(black, 0.4);
    fill: white;
  }
  @media screen and (max-width: $smallScreen) {
    display: flex;
  }
}
