@mixin hover-glow($lighten-by: 25, $size: 4rem) {
  $shadow-size: $size * 0.1;
  $shadow-color: lighten($sol-blue, $lighten-by);
  @media (hover: hover) {
    &:hover {
      filter: drop-shadow(0 0 $shadow-size $shadow-color);
    }
  }
}

.Header {
  z-index: 100;
  top: 0;
  position: sticky;
  background-color: $sol-blue;
  display: flex;
  justify-content: center;
  @include smaller-than(M) {
    position: relative;
  }
  > .header-content {
    width: $page-max-width;
    z-index: 100;
  }
  > .GoToTop {
    z-index: 90;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: $padding;
  }
}

.header-content {
  display: flex;
  user-select: none;
  color: white;
  padding: $padding;
  background-color: inherit;
  justify-content: space-between;
  align-items: center;
  #pageLogo {
    @include hover-glow(15);
    font-size: 4em;
  }
  #githubLink {
    @include hover-glow(15);
    font-size: 4em;
    line-height: 1;
    height: 1em;
    width: 1em;
    color: darken($sol-blue, 10);
    &:hover {
      color: $sol-light-blue;
    }
  }
  @include smaller-than(M) {
    flex-direction: column;
    #githubLink {
      display: none;
    }
  }
  @media (min-width: map-get($breakpoints, M)) and (max-width: 1000px) {
    font-size: 1.6vw;
  }
}
.Filters {
  font-size: 1.3em;
  .tags,
  .hosts {
    font-weight: bold;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: $padding * -0.2 $padding * -0.4;
    padding: 0 $padding * 0.5;
    .Tag,
    .Host {
      @include hover-glow();
      padding: $padding * 0.2 $padding * 0.4;
      color: mix($sol-blue, white, 50);
      cursor: pointer;
      &.active {
        color: #eee;
      }
    }
    .Host {
      line-height: 0.7;
      font-size: 2em;
    }
  }
  @include smaller-than(M) {
    @media (orientation: portrait) {
      max-width: 20em;
    }
    .hosts {
      padding: $padding * 0.5 0;
      justify-content: space-around;
      padding-bottom: $padding * 0.5;
    }
    .tags {
      padding: $padding * 0.5 0;
      font-size: 1.1em;
      justify-content: center;
    }
  }
  @include smaller-than(S) {
    font-size: 1.1rem;
  }
}

.GoToTop {
  display: none;
  @include smaller-than(M) {
    display: flex;
  }
  font-size: 4em;
  cursor: pointer;
  justify-content: center;
  svg {
    padding: 0.2em;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: $sol-red;
    fill: white;
    @include shadow(2em);
  }
}
