// source: https://github.com/tobiasahlin/SpinKit

.LoadingIndicator {
  width: 100%;
  font-size: 4rem;
}

.sk-cube-grid {
  width: 3em;
  height: 3em;
  margin: 1em auto;

  .sk-cube {
    width: 1em;
    height: 1em;
    background-color: $SolLightBlue;
    float: left;
    animation: sk-cubeGridScaleDelay 1100ms infinite ease-in-out;
  }
  .sk-cube7 {
    animation-delay: 0ms;
  }
  .sk-cube4,
  .sk-cube8 {
    animation-delay: 100ms;
  }
  .sk-cube1,
  .sk-cube5,
  .sk-cube9 {
    animation-delay: 200ms;
  }
  .sk-cube2,
  .sk-cube6 {
    animation-delay: 300ms;
  }
  .sk-cube3 {
    animation-delay: 400ms;
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%,
  80%,
  100% {
    transform: scale(1, 1);
  }
  40% {
    transform: scale(0, 0);
  }
}
