.Story {
  // wrapper class
  z-index: 200; // hover above the feed if visible
  background-color: rgba(black, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  @include fullscreen;
}

.story-wrapper {
  // the actual story content
  background-color: white;
  font-size: 1.2em;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  > .image {
    flex: 1;
    > .Brand {
      font-size: 4em;
      margin-bottom: -4em; // Don't push title out of parent on very small screens
    }
  }
  a {
    text-decoration: none;
  }
  h1 {
    font-size: 3.5rem;
    @include smaller-than(M) {
      font-size: 2em;
    }
    @media (hover: hover) {
      cursor: pointer;
      &:hover {
        .title {
          background-color: $sol-blue;
        }
      }
    }
  }
  // Story should not fill screen on larger devices
  $story-height: 50rem;
  $story-width: 60rem;
  @media screen and (min-width: $story-width * 1.1) {
    width: $story-width;
  }
  @media screen and (min-height: $story-height * 1.2) {
    height: $story-height;
  }
  @include smaller-than(M) {
    font-size: 1em;
    // Use fixed position to look better on phone screens where the browser
    // chrome might mess with the vw and vh values.
    @include fullscreen;
  }
  @include smaller-than(S) {
    font-size: 0.8em;
  }
}

.story-content {
  display: flex;
  flex-direction: column;
  padding: $padding;
  padding-bottom: 0;
  .lede {
    @extend %heading-text;
    font-weight: 400;
    font-size: 1.4em;
    line-height: 1.1;
    @include smaller-than(M) {
      font-size: 1.2em;
    }
  }
  .dateline {
    font-size: 0.9em;
    color: $sol-blue;
  }
  .lede,
  .dateline {
    margin-bottom: $padding;
    @include smaller-than(S) {
      margin-bottom: $padding * 0.5;
    }
  }
}

.story-navigation {
  display: flex;
  color: white;
  text-align: center;
  user-select: none;
  .link,
  .back,
  .forward {
    box-sizing: content-box;
    line-height: 1.2em;
    width: 1.2em;
    height: 1.2em;
    padding: 0.5em;
    background-color: $sol-dark-blue;
    border: $padding solid white;
    @media (hover: hover) {
      cursor: pointer;
      &:hover {
        background-color: $sol-red;
      }
    }
  }
  .link {
    font-weight: bold;
    background-color: #777;
    border-left: none;
    border-right: none;
    color: white;
    flex: 1;
  }
}

.Chevron {
  fill: currentColor;
  .back > & {
    transform: scale(-1, 1); // mirror
  }
}
