$smallScreen: 700px;

header {
  position: sticky;
  top: 0;
  display: flex;
  color: white;
  user-select: none;
  .Filters {
    background-color: #666;
    z-index: 100;
    flex: 1;
    font-size: 1.2em;
    .tags,
    .hosts {
      font-weight: bold;
      display: flex;
      flex-flow: row wrap;
      .Tag,
      .Host {
        padding: 0.2rem 0.4rem;
        color: #999;
        cursor: pointer;
        &.active {
          color: #eee;
        }
        &:hover {
          text-shadow: 0 0 4px black;
          .Icon {
            filter: drop-shadow(0 0 2px black);
          }
        }
      }
      .Host {
        font-size: 2em;
      }
    }
  }
  .GoToTop {
    display: none;
    position: fixed;
    padding: 0.5em;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    background-color: #666;
    top: 0.5em;
    left: 0.5em;
    box-shadow: 0 0.2em 0.5em 0 rgba(black, 0.5);
    svg {
      fill: white;
    }
  }
  @media screen and (max-width: $smallScreen) {
    position: static;
    .GoToTop {
      display: block;
    }
    .Filters {
      // height: 20vh;
      .tags {
        font-size: 2em;
      }
      .hosts {
        font-size: 1.5em;
      }
    }
  }
}
