body {
  margin: 0;
  font-family: sans-serif;
  font-size: 14px;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  color: white;
  user-select: none;
  background-color: #666;
  .Filters {
    flex: 1;
    .tags {
      font-size: 1.2em;
      font-weight: bold;
      display: flex;
      flex-direction: row;
      .Tag {
        padding: 0.2rem 0.4rem;
        color: #999;
        cursor: pointer;
        &.active {
          color: #eee;
        }
        &:hover {
          // filter: drop-shadow(0 0 5px #000);
          text-shadow: 0 0 4px black;
        }
      }
    }
    .hosts {
      font-size: 3em;
      display: flex;
      flex-direction: row;
      .Host {
        padding: 0.2rem 0.4rem;
        color: #999;
        cursor: pointer;
        &.active {
          color: #eee;
        }
        &:hover {
          .Icon {
            filter: drop-shadow(0 0 2px black);
          }
        }
      }
    }
  }
}
.Icon {
  height: 1em;
  padding: 0.02em;
  fill: currentcolor;
}
